<h1>Here are your movie results:</h1>

<ul>
    <% movies.forEach((movie) => { %>
        <li>
            <a href="movies/<%= movie.imdbID %>"><%= movie.Title %></a>
        </li>
    <% }); %>
</ul>
